.spits-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  .spits {
    width: 800px;
    min-height: 100vh;
    border-left: 2px solid $indigo;
    border-right: 2px solid $indigo;
    .spit {
      padding: 20px;
      border-bottom: 2px solid $indigo;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      h2 {
        margin-bottom: 20px;
        @include lato($color: $indigo);
      }
      img {
        margin-top: 20px;
        align-self: center;
        max-width: 80%;
      }
    }
  }
}
