.spits-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  .spits {
    width: 800px;
    min-height: 100vh;
    height: 10px;
    border-left: 2px solid $indigo;
    border-right: 2px solid $indigo;
  }
}
