@import url(https://fonts.googleapis.com/css?family=Nunito);/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.sr-only {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

h1,
h2,
p,
a,
input,
label {
  color: #16161d;
  font-size: 16pt;
  font-weight: normal;
  font-family: "Lato", sans-serif;
}

.primary-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  padding: 20px;
  border-bottom: 2px solid #254441;
}

.primary-header a {
  text-decoration: none;
}

.primary-header .title {
  color: #33ca7f;
  font-size: 32pt;
  font-weight: normal;
  font-family: "Lato", sans-serif;
  margin: 0 20px;
}

.primary-header ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.primary-header ul li {
  border-radius: 5px;
}

.primary-header ul li p {
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  display: block;
}

.primary-header ul li a {
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  display: block;
}

.primary-header ul li a:hover {
  text-decoration: underline;
}

.primary-header ul .sign-up {
  border: 1px solid #254441;
}

.overlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  margin-bottom: -100vh;
  z-index: 1;
  pointer-events: none;
}

.overlay > * {
  pointer-events: all;
}

.overlay .create-post {
  position: fixed;
  bottom: 150px;
  right: 10%;
  width: 60px;
  height: 60px;
  padding: 5px;
  border-radius: 50%;
  background-color: #4dc0b5;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.overlay .create-post a {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.overlay .create-post a img {
  width: 60%;
  height: 60%;
}

.spits-wrapper {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.spits-wrapper .spits {
  width: 800px;
  min-height: 100vh;
  border-left: 2px solid #254441;
  border-right: 2px solid #254441;
}

.spits-wrapper .spits .spit {
  padding: 20px;
  border-bottom: 2px solid #254441;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.spits-wrapper .spits .spit h2 {
  margin-bottom: 20px;
  color: #254441;
  font-size: 16pt;
  font-weight: normal;
  font-family: "Lato", sans-serif;
}

.spits-wrapper .spits .spit img {
  margin-top: 20px;
  align-self: center;
  max-width: 80%;
}

.login-signup {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}

.login-signup-form {
  margin-top: 20px;
  width: 800px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.login-signup-form input {
  margin: 10px 0;
}

.login-signup-form textarea {
  width: 100%;
  resize: none;
}

.login-signup-form button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
  cursor: pointer;
  padding: 5px;
  margin: 5px 0;
  background-color: #254441;
  color: white;
  font-size: 16pt;
  font-weight: normal;
  font-family: "Lato", sans-serif;
}

.error p {
  color: #f96900;
  margin-bottom: 5px;
}

.welcome-message {
  margin: 30px;
  color: #254441;
  font-size: 36pt;
  font-weight: normal;
  font-family: "Lato", sans-serif;
}

.search {
  -webkit-box-flex: 1;
          flex-grow: 1;
}

.search input {
  border: none;
  width: 100%;
  padding: 3px;
  background-color: #7dcfb6;
}

